body {
    background-color: black;
    margin: 0 auto;
    max-width: 960px;
    color: lightgreen;
}

header h1 {
    display: flex;
    justify-content: center;
}

main {
    margin: 0 auto;
}

.result {
    display: flex;
    justify-content: center;
}

.squares {
    font-family: 'Noto Sans Symbols', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    margin-top: 100px;
    display: grid;
    grid-template-columns: 100px 100px 100px;
    justify-content: center; 
}

.tile-one {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-two {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-three {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-four {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-five {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-six {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-seven {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-eight {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.tile-nine {
    border: 3px solid cyan;
    width: 100px;
    height: 100px;
    display:flex;
    justify-content: center;
    align-items: center;
}

.scores {
    margin-top: 130px;
    text-align: center;
}